/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: designer;
    src: url("/assets/fonts/Designer.otf") format("opentype");
}

@font-face {
    font-family: alte;
    src: url("/assets/fonts/AlteHaasGroteskRegular.ttf") format("truetype");
}

@font-face {
    font-family: alte-bold;
    src: url("/assets/fonts/AlteHaasGroteskBold.ttf") format("truetype");
}
